<router-outlet/>

<section>
  <div class="min-h-screen bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 flex items-center justify-center">
  <div class="bg-white rounded-2xl shadow-2xl p-10 text-center max-w-md">
    <h1 class="text-5xl font-extrabold text-gray-800 mb-6">
      ¡Hola Tailwind!
    </h1>
    <p class="text-lg text-gray-600 mb-6">
      Si ves colores, bordes redondeados y un degradado de fondo, significa que Tailwind está funcionando 🚀
    </p>
    <button class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition">
      Probar botón
    </button>
  </div>
</div>

</section>